<!-- Login Page -->
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="ppk_file">
        <input type="submit" value="Upload PPK">
    </form>
    <hr>
    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>

